$font-stack: 'Roboto', sans-serif;
$bg-color: #f5f6fa;
$header-bg-color: #182C61;
$primary-color: #44bd32;
$primary-color-hover: #4cd137;
$container-max-width: 1024px;
$menu-font-weight: bold;
$menu-margin-left: 24px;
$section-padding: 56px;
